<% layout("layout/boilerplate") -%>
<%- include("../layout/header.ejs") %>

<form class="container mt-5 jumbotron" method="POST" action="/todo/submit">
  <h1>
    <%= addAction ? 'Add' : 'Edit' %> todo
  </h1>
  <div class="form-group">
    <label>Task name</label>
    <input 
      type="text" 
      class="form-control" 
      placeholder="task name" 
      name="task"
      value="<%= addAction ? "" : todo.task %>"
      required
    >
  </div>
  <div class="form-group">
    <label>Category</label>
    <select class="form-control" aria-label="Default select example" name="category">
      <option value="" <%= (addAction === false && todo.category) ? "" : "selected" %>>No category</option>
      <% categories.forEach(function(category){ %>
        <option 
          value="<%= category._id %>"
          <%= category.selected ? "selected" : ""%>
        ><%= category.name %></option>
      <% }) %>
    </select>
  </div>
  <input type="hidden" name="action" value="<%= addAction ? "add" : "edit"%>">
  <% if(addAction === false){ %>
    <input type="hidden" name="_id" value="<%= todo._id %>">
  <% } %>
  <div align="right" class="mt-2">
    <a href="/todo" class="btn btn-secondary">Back</a>
    <button class="btn btn-primary">
      <%= addAction ? 'Add' : 'Edit'%>
    </button>
  </div>
</form>